{% from "row.j2" import row %}
// базовые настройки
#set page(
  width: {{report_settings["page_size"]["width"]}},
  height: {{report_settings["page_size"]["height"]}},
  margin: {{report_settings["page_size"]["margin"]}},
)

#set text(
  font: (
    "Liberation Sans", // Основной шрифт для Linux
    "Noto Sans", // Fallback 1
    "DejaVu Sans", // Fallback 2
  ),
  size: 10pt,
)
#set heading(numbering: "1.")

// стили
#let centered-title(body) = align(center)[
  #text(size: 16pt, weight: "bold")[#body]]


// шапка
#align(right)[Ответственным: \ {{responsible_str}}]


#align(right)[{% if created_by %}
  {{created_by.user_role}} \ {{created_by.first_name}}
{% else %}
Ведущий инженер по ОТ и ПБ \ Жгулев Н.С./Муталинов Т.Е.
{% endif %}]

// заголовок
#centered-title[Предписание]
Дата формирования предписания: {{today}}
#centered-title[Устранить следующие нарушения:]

// таблица
#set table(
  align: center,
  inset: 5pt,
  stroke: 0.5pt,
)
#table(
  columns: (
    {{report_settings["col_width"]["number"]}},
    {{report_settings["col_width"]["date"]}},
    {{report_settings["col_width"]["photos"]}},
    {{report_settings["col_width"]["violations"]}},
    {{report_settings["col_width"]["terms"]}},
    {{report_settings["col_width"]["corrected"]}},
  ),
  // шапка таблицы
  [*{{report_settings["headers"]["number"]}}*],
  [*{{report_settings["headers"]["date"]}}*],
  [*{{report_settings["headers"]["photos"]}}*],
  [*{{report_settings["headers"]["violations"]}}*],
  [*{{report_settings["headers"]["terms"]}}*],
  [*{{report_settings["headers"]["corrected"]}}*],

  {% for data in violations %}
  {{row(data)}}
  {% endfor %}
)
\
#text(size: 12pt, weight: "bold")[О выполнении настоящего предписания прошу сообщить по
  каждому пункту \ согласно сроку устранения письменно.]
\
\
#block()[
  #set par(leading: 1em)
  #align(left)[
    Предписание выдал: \
    дата:#h(0.3cm) {{today}} #h(0.3cm)
    подпись:
    #box(width: 3cm)[#hide[w]#place(top + left, dx: -3mm, dy: -10mm)[#image("{{sign_path}}", width: 3cm)]]
{% if created_by %}
  {{created_by.user_role}} \ {{created_by.first_name}}
{% else %}
Ведущий инженер по ОТ и ПБ \ Жгулев Н.С./Муталинов Т.Е.
{% endif %}

  ]
]
\
#align(left)[
  Контроль устранения нарушений провел: \ \
  дата:#h(3cm)
  подпись:#h(2cm)
]
