.DS_Store
.idea/
.vscode/
*.swp
*.swo
.github
.venv/
venv/

__pycache__/
*.py[cod]
*$py.class

*.tmp
*.bak
*.backup

tests/
tmp/

!.env
!requirements.txt

.git/
.gitignore

.ipynb_checkpoints/
*.ipynb

*.egg-info/
*.egg
dist/
build/