.DS_Store
.idea/
.vscode/
*.swp
*.swo

venv/
.env/
.env*/
*.env

__pycache__/
*.py[cod]
*$py.class

*.tmp
*.bak
*.backup

tests/
tmp/

!requirements.txt

.git/
.gitignore

.ipynb_checkpoints/
*.ipynb

*.egg-info/
*.egg
dist/
build/