/.venv
/misc
.env*
.idea
/.vscode
/.venv
/venv
__pycache__
tst_in_otbot.py
/temp
statistics.txt
*.db
static
report.pdf
*.jpg
*/typst/violation_images
*/typst/report.typ
*/typst/typst.exe
*.sqbpro
bot/keyboards/category_buttons.json
/data/images
/data/logs

