/.venv
/misc
.env
.idea
/venv
__pycache__
tst_in_otbot.py
/temp
statistics.txt
*.db
logs
static
report.pdf
*.jpg
/typst/violation_images/*.jpg
/typst/report.typ
/typst/typst.exe
*.sqbpro
bot/keyboards/category_buttons.json
